extends layout
 
block content
 div
  h3 #{name}
 div
  | StartedBy: #{ownerName}
 div
  | startedTime: #{startTime}
 div
  | closedTime: #{closeTime}
 div
  | description: #{description}
 div
 button Join/Close/Leave
 br
 br
 br
 div
  h3 Comments:
  div
   ul
    each comment in comments
     li
      div
       | Commentor: #{comment.commentor}
      div
       | Comment: #{comment.text}
      div
       | Time: #{comment.time}
   button Load All
  br
  br
  div
   form(action = "#{id}/addComment" method = "POST")
    div
     | Add new Comments: 
     input(type = "text", name = "currentComment")
    input(type = "submit", value = "submit")