extends layout

block content
 p.menus
  a(href="/dashboard") Dashboard
  |&nbsp;&nbsp;
  a(href="/logout") Logout
 script(src="/javascripts/topic.js") 
 h8.topicHeadding #{topic.name}
 br
 div.topicInformation
  |Started By : #{topic.ownersEmailId}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  |Started Time : #{topic.startTime}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  |Closed Time : #{topic.closeTime}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 br
 p.description
  |#{topic.description}
 button(id="CJL" class="registerLoginButton" onclick="onCloseOrJoinOrLeave('#{topic.id}','#{topic.name}')") #{topic.buttonName}
 br
 br
 hr
 br
 h8.searchTopic Comments:
 button(class="registerLoginButton" onclick="loadAll('#{topic.id}')") Load All Comments
 br
 p(id="showComments" class="comment")
  each comment in topic.comments
   |Mail : #{comment.emailId}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   |Time : #{comment.time}
   br
   |&nbsp;&nbsp;&nbsp;&nbsp;- #{comment.comment}
   br
   br
 form
  textarea(id="currentComment")
  |&nbsp;&nbsp;&nbsp;
  input(class="registerLoginButton" type="button" id="postComment" value="Post Comment" onclick="sendComment('#{topic.id}', '#{topic.userEmail}')")
