extends layout
block content
 script(src="/javascripts/topic.js") 
 |Name: 
 b #{topic.name}
 br
 |Description:
 b #{topic.description}
 br 
 |Started By:
 b #{topic.ownersEmailId}
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Started Time:
 b #{topic.startTime}
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Closed Time:
 b #{topic.closeTime}
 br
 button(onclick="") #{topic.buttonName}
 br
 br
 u Comments:
 br
 p
  each comment in topic.comments
   |Mail:
   b #{comment.emailId}
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Time:
   b #{comment.time}
   br
   b #{comment.comment}
   br
   br
  br
  button(onclick="") Load All Comments
  br
  form
   textarea(id="currentComment")
   &nbsp;&nbsp;&nbsp;
   input(type="button" value="Post Comment" onclick="postComment()")
