extends layout

block content
 center
  h3 #{name}
 span
  | Name: #{ownerName}
  | startTime: #{startTime}
  | description: #{description}
 button Join/Close/Leave
 div
  button Load All
  ul
   each comment in comments
    li
     | Commentor: #{comment.commentor}
     br
     | Comment: #{comment.text}
     br
     | Time: #{comment.time}
     br
 form(action = "addComment" method = "POST")
  input(type = "text", name = "currentComment")
  input(type = "text", name = "id", value = "#{id}")
  input(type = "submit", value = "submit") 